@import url('https://fonts.googleapis.com/css2?family=Anton&family=Russo+One&family=Teko&display=swap');

body {
  font-family: 'Anton', sans-serif; /* default */
  background-color: "rgb(255, 255, 255)";
}


html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff; /* Optional */
  overflow-x: hidden !important;


}

.previous-ride-card {
  height: 350px; /* Fixed height for all cards */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  overflow: hidden;
}

.previous-ride-card img {
  height: 200px; /* Fixed image height */
  object-fit: cover;
}

.previous-ride-card .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Title wraps max 2 lines */
.previous-ride-card h6 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Force single card on mobile */
@media (max-width: 576px) {
  .slick-slide {
    width: 100% !important;
  }
  .slick-track {
    display: flex !important;
  }
  .slick-slide > div {
    width: 100%;
  }
}
